<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container" id="itemContainer">
      <ul class="collection with-header">
        <% if(items.length > 0){ %> <% items.forEach((item)=>{ %>
        <li class="collection-item">
          <div>
            <a href="get-item/<%= item.id %> ">
              <%= item.name %> <%= item.price %>
            </a>
            <a href="#!" class="secondary-content">
              <i class="material-icons" data-id="<%= item._id %>">delete</i>
              <i
                class="material-icons modal-trigger"
                data-id="<%= item._id %>"
                href="#edit_item_modal"
                >edit</i
              >
            </a>
          </div>
        </li>
        <% }) %> <% }else{ %>
        <li class="collection-item">There are no items</li>
        <% } %>
      </ul>
    </div>

    <div id="edit_item_modal" class="modal">
      <div class="modal-content">
        <h4>Edit Item</h4>
        <form id="edit_form" action="">
          <input type="text" name="name" placeholder="Item Name" />
          <input type="number" name="price" placeholder="Item Price" />
          <button type="submit" class="btn">Update</button>
          <a class="btn modal-close waves-effect waves-green"> Close </a>
        </form>
      </div>
    </div>

    <script>
      var updateId;
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
      });

      edit_form.onsubmit = async (e) => {
        e.preventDefault();
        let data = new FormData(edit_form);
        const endpoint = `/items/${updateId}`;
        let response = await fetch(endpoint, {
          method: "PUT",
          body: new URLSearchParams(data),
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        });
        let result = await response.json();
        edit_form.reset();
        alert(result.msg);
        window.location.reload();
      };

      itemContainer.onclick = (e) => {
        if (e.target.textContent === "edit") {
          updateId = e.target.getAttribute("data-id");
        }

        if (e.target.textContent === "delete") {
          const id = e.target.getAttribute("data-id");
          const endpoint = `/items/${id}`;
          fetch(endpoint, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((data) => {
              window.location.href = data.redirect;
            })
            .catch((err) => {
              console.log(err);
            });
        }
      };
    </script>
  </body>
</html>
